---
import { fetchDataFromServer } from "@/pages/api/trpc/serverHelpers";
import Layout from "@/layouts/Layout.astro";

const { lang } = Astro.params;
if (!lang) {
    return new Response("Language parameter is missing", { status: 400 });
}

const books = await fetchDataFromServer("book.list_by_language", lang);
---

<Layout title="Bücher" defaultPadding={true}>
    <div class="container mx-auto px-4 py-6">
        <div class="grid grid-cols-1 gap-6 md:grid-cols-3">
            {
                books.map((book) => (
                    <a
                        href={"/" + (lang || "en") + `/books/book/${book.id}`}
                        class="block rounded-lg bg-white p-4 shadow hover:shadow-lg"
                    >
                        <img
                            src={book.coverImage || "/book-cover-placeholder.png"}
                            class="h-48 w-full rounded object-cover"
                        />
                        <h2 class="mt-4 text-xl font-semibold">{book.title}</h2>
                        <p class="text-gray-600">{book.author}</p>
                    </a>
                ))
            }
        </div>
    </div>
</Layout>
