---
import MenuItem from "./MenuItem.astro";
import LanguageSelector from "./LanguageSelector.astro";
import { menuItems } from "../../data/navigation";
---

<nav class="hidden items-center gap-6 lg:flex">
	{menuItems.map((item) => <MenuItem href={item.href} text={item.text} />)}
	<LanguageSelector />
</nav>
