---
import MenuItem from "./MenuItem.astro";
import LanguageSelector from "./LanguageSelector.astro";
import { navbarContent } from "./navbar-content";

const { lang } = Astro.locals;

const navbarContentByLang =
    lang && (lang as keyof typeof navbarContent) in navbarContent
        ? navbarContent[lang as keyof typeof navbarContent]
        : navbarContent.en;
---

<nav class="hidden lg:flex items-center gap-10">
    {
        navbarContentByLang.map((item) => (
            <MenuItem {...item} href={item.withLanguagePrefix ? `/${lang}${item.href}` : item.href} text={item.text} />
        ))
    }
    <LanguageSelector />
</nav>
