---
import { Image } from "astro:assets";
import { i18n } from "@/i18n";
import Section from "@/layouts/Section.astro";
import gerd from "@/public/gerd.jpg";

const lang = Astro.locals.lang;
---

<Section sectionTitle={i18n.tLang(lang, "pages.homepage.aboutUs.title")} sectionId="about">
    <div class="mx-auto max-w-6xl mb-14">
        <div class="grid gap-12 md:grid-cols-2 max-w-4xl mx-auto">
            <p
                set:html={i18n.tLang(lang, "pages.homepage.aboutUs.content")}
                class="mb-6 text-black-600 text-base leading-relaxed flex justify-center"
            />
            <div class="rounded-lg bg-black-100 mb-8 max-w-sm mx-auto flex flex-col items-center justify-center">
                <Image src={gerd} alt="Gerd" class="w-full h-auto rounded-lg object-cover mx-auto" loading="lazy" />
                <p class="text-center text-sm text-gray-500 mt-3 italic">
                    {i18n.tLang(lang, "pages.homepage.aboutUs.imageCaption")}
                </p>
            </div>
        </div>
    </div>
</Section>
