---
import Section from "../layouts/Section.astro";
import Button from "./ui/Button.astro";
import Input from "./ui/Input.astro";
---

<Section sectionTitle="Kontakt" sectionId="contact">
    <div class="mx-auto max-w-3xl">
        <form class="space-y-6" action="mailto:cv-als@pec.it" method="post" enctype="text/plain">
            <Input id="name" label="Name" type="text" name="name" />
            <Input id="email" label="Email" type="email" name="email" />
            <Input id="Nachricht" label="Warum kontaktieren Sie uns?" type="textarea" name="message" />
            <Button type="submit" fullWidth>Absenden</Button>
        </form>

        <div class="mt-12 rounded-lg bg-white p-6 shadow-md">
            <h3 class="text-center text-2xl font-semibold">Zusätzliche Kontaktinformationen</h3>
            <p class="mt-4 text-center text-gray-700">
                Für mehr Details oder direkte Unterstützung, kontaktieren Sie uns bitte:
            </p>
            <ul class="mt-4 space-y-2 text-center">
                <li>
                    <strong>Address:</strong> Rienzstr.21, 39030 Olang, Südtirol - Italien
                </li>
                <li>
                    <strong>PEC:</strong>
                    <a href="mailto:cv-als@pec.it" class="text-blue-600 hover:underline">cv-als@pec.it</a>
                </li>
                <li>
                    <strong>Alternative Email:</strong>
                    <a href="mailto:gerdsteger@hotmail.com" class="text-blue-600 hover:underline"
                        >gerdsteger@hotmail.com</a
                    >
                </li>
                <li><strong>Handynummer:</strong> +39 328 45 345 83</li>
                <li>
                    <strong>IBAN:</strong> IT 59 Z060 4559 0400 0000 5001 502
                </li>
                <li><strong>Tax Nummer:</strong> 92073470210</li>
            </ul>
        </div>
    </div>
</Section>
