---
import Button from "./ui/Button.astro";
import Input from "./ui/Input.astro";
---

<section id="contact" class="py-16 px-6 bg-gray-100">
	<div class="max-w-3xl mx-auto">
		<h2 class="text-3xl font-bold mb-12 text-center">Contact Us</h2>
		<form class="space-y-6">
			<Input id="name" label="Name" type="text" />
			<Input id="email" label="Email" type="email" />
			<Input
				id="message"
				label="Why are you contacting us?"
				type="textarea"
			/>
			<Button type="submit" fullWidth>Submit</Button>
		</form>
	</div>
</section>
