---
import MapComponent from "./Map.tsx";
import Section from "../layouts/Section.astro";
import { fetchDataFromServer } from "../pages/api/trpc/serverHelpers";
import type { MapPoint, MapPointType } from "@prisma/client";
const mapPointsData: MapPoint[] = await fetchDataFromServer("mapPoint.list");
const mapPointTypes: MapPointType[] = await fetchDataFromServer("mapPointType.list");
---

<Section sectionTitle="Wo Sie Hilfe finden" sectionId="map">
    <div class="z-0 mx-auto max-w-6xl">
        <MapComponent client:only="react" data={mapPointsData} types={mapPointTypes} />
    </div>
</Section>
