---
import MapComponent from "./Map.tsx";
import Section from "../layouts/Section.astro";
import { fetchDataFromServer } from "../pages/api/trpc/serverHelpers";

let lang = Astro.locals.lang;
if (!lang) throw new Error("Language parameter is required");

const [mapPoints, mapCategories] = await Promise.all([
    fetchDataFromServer("mapPoint.list_by_language", lang),
    fetchDataFromServer("mapPointCategory.list_by_language", lang),
]);
---

<Section sectionTitle="Wo Sie Hilfe finden" sectionId="map">
    <div class="z-0 mx-auto max-w-6xl">
        <MapComponent client:only="react" points={mapPoints} categories={mapCategories} />
    </div>
</Section>
