---
import MapComponent from "./Map.tsx";
---

<section id="map" class="mt-20 bg-gray-50 px-6 py-16 pt-20">
	<div class="mx-auto max-w-6xl">
		<h2 class="mb-4 text-center text-3xl font-bold">Where to Find Us</h2>
		<MapComponent client:only="react" />
	</div>
</section>
