---
import MapComponent from "./Map.tsx";
import Section from "../layouts/Section.astro";
import db from "../utils/db";
import type { MapPoint, MapPointType } from "@prisma/client";
const mapPointsData: MapPoint[] = await db.mapPoint.findMany();
const mapPointTypes: MapPointType[] = await db.mapPointType.findMany();
---

<Section sectionTitle="Wo Sie Hilfe finden" sectionId="map">
	<div class="z-0 mx-auto max-w-6xl">
		<MapComponent client:only="react" data={mapPointsData} types={mapPointTypes}/>
	</div>
</Section>
