---
import MapComponent from "./Map.tsx";
import Section from "../layouts/Section.astro";
---

<Section sectionTitle="Wo Sie uns finden" sectionId="map">
	<div class="z-0 mx-auto max-w-6xl">
		<MapComponent client:only="react" />
	</div>
</Section>
