---
import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/Hero.astro";
import BlogSection from "../../components/BlogSection.astro";
// EventsSection wurde entfernt
import MapSection from "../../components/MapSection.astro";
import AboutSection from "../../components/AboutSection.astro";
import Donation from "../../components/Donation.astro";
import CelebritiesSection from "../../components/CelebritiesSection.astro";

const lang = Astro.params.lang || "en";
---

<Layout title="CV ALS - Fighting Together Against ALS" showTitle={false}>
    <main>
        <Hero />
        <BlogSection />
        <!-- EventsSection wurde entfernt -->
        <MapSection />
        <CelebritiesSection lang={lang} />
        <AboutSection />
        <Donation />
    </main>
</Layout>
