---
import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/Hero.astro";
import BlogSection from "../../components/BlogSection.astro";
import EventsSection from "../../components/EventsSection.astro";
import CommentsSection from "../../components/CommentsSection.astro";
import MapSection from "../../components/MapSection.astro";
import AboutSection from "../../components/AboutSection.astro";
import ContactForm from "../../components/ContactForm.astro";
import Donation from "../../components/Donation.astro";
import CelebritiesSection from "../../components/CelebritiesSection.astro";
---

<Layout title="CV ALS - Fighting Together Against ALS" showTitle={false}>
    <main>
        <Hero />
        <BlogSection />
        <EventsSection />
        <CommentsSection />
        <MapSection />
        <CelebritiesSection />
        <AboutSection />
        <ContactForm />
        <Donation />
    </main>
</Layout>
