---
import { i18n } from "@/i18n";
import Layout from "../../layouts/Layout.astro";
import { fetchDataFromServer } from "../../pages/api/trpc/serverHelpers";

const lang = Astro.locals.lang;
if (!lang) throw new Error("Language not set in Astro.locals");
const links = await fetchDataFromServer("link.list_by_language", lang);
---

<Layout title={i18n.tLang(lang, "pages.links.title")} defaultPadding={false}>
    <main class="min-h-screen pt-0 pb-16 px-6 sm:px-12">
        <div class="mx-auto max-w-4xl">
            <ul class="space-y-8">
                {
                    links.map((link, index) => (
                        <li class="rounded-xl bg-white p-6 shadow-lg hover:shadow-xl transition-shadow duration-300 cursor-pointer">
                            <a
                                href={link.url}
                                target="_blank"
                                rel="noopener noreferrer"
                                class="flex items-center space-x-4 text-blue-800 hover:text-blue-900 font-semibold text-xl"
                            >
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="h-6 w-6 flex-shrink-0 text-blue-500"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke="currentColor"
                                    stroke-width={4}
                                >
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M14 5l7 7m0 0l-7 7m7-7H3" />
                                </svg>
                                <span>{link.name || "LINK NAME"}</span>
                            </a>
                            {index === 0 && (
                                <p class="mt-2 text-blue-700">{i18n.tLang(lang, "pages.links.description1")}</p>
                            )}
                            {index === 1 && (
                                <p class="mt-2 text-blue-700">{i18n.tLang(lang, "pages.links.description2")}</p>
                            )}
                        </li>
                    ))
                }
            </ul>
        </div>
    </main>
</Layout>
