---
import WelcomeBanner from "../components/WelcomeBanner.astro";
import CookieBanner from "../components/CookieBanner.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
    title: string;
    showTitle?: boolean;
    defaultPadding?: boolean;
    footer?: boolean;
    header?: boolean;
}

const { title, showTitle = true, defaultPadding = true, footer = true, header = true } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Fighting together against ALS" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.png" />
        <title>{title}</title>
    </head>
    <body class="flex min-h-screen flex-col bg-[#E6F0FA]">
        <WelcomeBanner />
        <CookieBanner />
        {header && <Header />}
        <main class="flex-1">
            {showTitle && <h1 class="pt-20 mb-12 text-center text-4xl font-bold text-gray-900">{title}</h1>}
            <slot />
        </main>
        {footer && <Footer />}
    </body>
</html>

<style is:global>
    :root {
        --accent: 136, 58, 234;
        --accent-light: 224, 204, 250;
        --accent-dark: 49, 10, 101;
    }
    html {
        font-family: system-ui, sans-serif;
        background: #fff;
        scroll-behavior: smooth;
    }
</style>
