---
import WelcomeBanner from "@/components/WelcomeBanner.astro";
import CookieBanner from "@/components/CookieBanner.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import { cn } from "@/utils/utils";

interface Props {
    title: string;
    showTitle?: boolean;
    defaultPadding?: boolean;
    footer?: boolean;
    header?: boolean;
    className?: string;
    classNameMain?: string;
    classNameTitle?: string;
}

const {
    title,
    showTitle = true,
    defaultPadding = true,
    footer = true,
    header = true,
    className,
    classNameMain,
    classNameTitle,
} = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Fighting together against ALS" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.png" />
        <title>{title}</title>
    </head>
    <body class={cn("flex min-h-screen flex-col bg-[#E6F0FA]", className)}>
        <WelcomeBanner />
        <CookieBanner />
        {header && <Header />}
        <main class={cn("flex-1", classNameMain)}>
            {
                showTitle && (
                    <h1 class={cn("px-4 pt-20 mb-12 text-center text-4xl font-bold text-gray-900", classNameTitle)}>
                        {title}
                    </h1>
                )
            }
            <slot />
        </main>
        {footer && <Footer />}
    </body>
</html>

<style is:global>
    :root {
        --accent: 136, 58, 234;
        --accent-light: 224, 204, 250;
        --accent-dark: 49, 10, 101;
    }
    html {
        font-family: system-ui, sans-serif;
        background: #fff;
        scroll-behavior: smooth;
    }
</style>
