---
import { PrismaClient } from "@prisma/client";
import Layout from "../../layouts/Layout.astro";
const prisma = new PrismaClient();
const links = await prisma.link.findMany();
---

<Layout title="Links" defaultPadding={true}>
	<main class="mx-auto mt-10 max-w-4xl">
		<ul class="space-y-4">
			{
				links.map((link) => (
					<li class="rounded-lg bg-white p-4 shadow">
						<a
							href={link.url}
							class="text-blue-500 hover:underline"
						>
							{link.name}
						</a>
						<button class="self-end">Delete</button>
					</li>
				))
			}
		</ul>
	</main>
</Layout>
